
.views-expanded {
  background-color:#008BCB;
  border:1px solid #111;
  margin:10px 0;
  height:47px;
}

.views-expanded-list {
  color: #FFFFFF;
  font-size:14px;
  padding:6px 0;
  list-style:none outside none;
  margin:0;
  padding:0;
  z-index:200;
  position:relative;
}

.views-expanded-list > li {
  margin:0 12px 0 0;
  float:left;
}

.views-expanded-list > li .views-expanded-row a {
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  font-weight: bold;
  outline: 0 none;
  padding: 16px 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.views-expanded-list > li:hover {
  background-color:#800;
}

.views-expanded-content {
  background-color:#F0C020;
  color:#000090;
  position:absolute;
  left:-9999px;
  top:48px;
  width:100%;
  border:1px solid #000;
  border-radius:0 0 10px 10px
}

.views-expanded-content > .inner {
  padding:15px;
}

.views-expanded-nojs li:hover .views-expanded-content {
  display:block;
  left:-1px;
}